:root{
    --transparent-light-purple: rgba(71, 71, 250, 0.6);
    --full-light-purple: rgba(71, 71, 250, 1);
    --black: black;
    --nav-transparent: rgba(255,255,255, 0.7);
    --nav-full : rgba(255,255,255, 1);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* Navbar Start */
nav{
    display: grid;
    position: fixed;
    place-items: center;
    left: 0;
    right: 0;
    z-index: 10;
    height: 80px;
}
.bg-full-color{
    background-color: var(--nav-full);
}
.bg-transparent{
    background-color: var(--nav-transparent);
}
.menu{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.menu >*{
    font-weight: bold;
    color: var(--black);
    border-bottom: 2px solid transparent;
}
.menu > *:hover{
    color: gray;
    border-bottom: 2px solid red;
}
/* Navbar End */

/* Header Start */
header{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 10%;
    background-color: thistle;
    /* background-color: rgba(0,0,0,0.1); */
}
.header-title{
    display: grid;
    place-items: start;
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    gap: 20px;
}

.header-title h1{
    font-size: 2em;
}

.header-image{
    width: 18rem;
    overflow: hidden;
}
.header-image img{
    width: 100%;
    aspect-ratio: 4/4;
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    background-color: black;
}

/* TYPING TEXT START */
.wrapper{
    display: flex;
    align-items: baseline;
}
.wrapper .static-text{
    font-size: 24px;
    line-height: 0;
}
.wrapper .dynamic-texts{
    position: relative;
    font-size: var(--f_size);
    text-wrap: nowrap;
    margin-left: 10px;
    height: calc(var(--f_size) + 3px);
    overflow: hidden;
}
.dynamic-texts p{
    font-weight: bold;
    width: 0px;
    overflow: hidden;
    border-right: 2px solid var(--black);
    animation: 
        typing 4s steps(20) infinite alternate-reverse,
        slide 12s steps(3) infinite;
}
/* TYPING TEXT END */
.header-button{
    display: grid;
    place-items: center;
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    color: var(--black);
    background-color: var(--transparent-light-purple);
    box-shadow: -3px 3px 2px var(--full-light-purple);
    text-shadow: -1px 1px 1px var(--black);
    transition: all .6s;
}

.header-button:hover{
    background-color: rgba(71, 71, 250, 1);
    box-shadow: none;
    text-shadow: none;
}
/* Header End */

main{
    position: relative;
    display: grid;
    padding: 1rem 2rem;
    width: 80%;
    margin-inline: auto;
}
main::after{
    content: '';
    display: block;
    position: absolute;
    justify-self: center;
    padding: 2rem;
    z-index: 1;
    top: -10%;
    background: url('../img/dropdown.svg') no-repeat;
    background-size: 80px;
    background-position: center;
    animation: blink 3s linear infinite;
}
main > * {
    padding-block: 2rem;
}
#social{
    --height:120px;
    position: fixed;
    z-index: 100;
    top:calc(50% - (var(--height) / 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 50px;
    height: var(--height);
    margin-left: 20px;
    box-shadow: 2px 2px 1px var(--black);
    background-color: white;
}

h2{
    margin-bottom: 15px;
    text-align: center;
}
.section-header{
    margin-bottom: 40px;
    text-align: center;
}
/* .first-section{
    border: 1px solid red;
} */
.f-container{
    height: min-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.f-card{
    display: block;
    text-align: center;
}
.f-icon{
    display: inline-block;
    height: 80px;
    position: relative;
    text-align: center;
    width: 80px;
  }
.icon-f{
    --icon-font-size: 3rem;
    font-size: var(--icon-font-size);
    display: inline-block;
    height: inherit;
    width: 57.735%;
    text-align: center;
    background-color: #04c2c9;
}
.icon-f::before{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    right: 21.1325%;
    transform: rotateZ(60deg);
    background-color: inherit;
}
.icon-f::after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    right: 21.1325%;
    transform: rotateZ(-60deg);
    background-color: inherit;
}
.icon-f i{
    position: absolute;
    top: calc(50% - (var(--icon-font-size)/2));
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
}

/* CARD START */
.b{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: min-content;
 }
.card{
    width: 15rem;
    height: 15rem;
    position: relative;
    background-color: azure;
}
.card-image{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.card-image img{
    width: 100%;
}
.card-content{   
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.card-content:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    padding-block: 2rem;
    background-color:  rgba(255, 255, 255, .8);
}
.more-info{
    padding: .6rem 1.8rem;
    border:1px solid purple;
    background-color: none;
    color: purple;
    transition: all 1.2s;
}
.more-info:hover{
    border: none;
    background-color: purple;
    color:rgba(255, 255, 255, .8);
}
/* CARD END */

.form-contact form{
    margin-inline: auto;
    width: 50%;
}
.form-contact form > * {
    margin-bottom: 10px;
}
.form-contact form input,textarea{
    display: block;
    width: 100%;
    min-height: 1.5rem;
}
.form-contact button{
    padding: .6rem 1.8rem;
}

footer{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1rem;
    height: 100px;
    background-color: blueviolet;
    width: 100%;
}

@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

@keyframes blink {
    from{
        opacity: 0.4;
    }to{
        opacity: 1;
    }
}
@keyframes typing {
    60%{
        width: 100%;
    }
    
}
@keyframes slide {
    100%{
        transform: translateY(calc( -1 * var(--f_size) * 3.5));
    }   
}